html, body {
    height:100%;
}

body {
    background-image: url('images/woodsy.jpeg');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.header {
    font-family: 'Keania One', serif;
    align-self: flex-start;
    position: fixed;
    font-size: .6em;
    padding: 4.5em;
} 

section {
    width: 75%;
    line-height: 1.3;
    font-family: 'Inter', 'helvetica-neue', sans-serif;
    padding-top: 2em;
}

button {
    /* button background */
    background-color: #3C3C3C;
    border: none;
    border-radius: 10px;
    color: white;

    /* padding */ 
    padding-top: .9em;
    padding-bottom: .9em;
    padding-left: 2.2em;
    padding-right: 2.2em;

    /* text */
    font-family: 'Keania One', serif;
    font-size: 1.4em;
}