html, body {
    height:100%;
}

body {
    background-size: cover;
    font-family: 'Inter', 'helvetica-neue', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.header {
    font-family: 'Keania One', serif;
    align-self: flex-start;
    position: fixed;
    font-size: .6em;
    padding: 4.5em;
} 

section {
    width: 75%;
    line-height: 1.4;
    padding-top: 2em;
}

button {
    /* button background */
    /* background-color: #3C3C3C; */
    border: none;
    border-radius: 10px;
    color: white;

    /* padding */ 
    padding-top: .9em;
    padding-bottom: .9em;
    padding-left: 2.2em;
    padding-right: 2.2em;

    /* text */
    font-family: 'Keania One', serif;
    font-size: 1.4em;
}

#party {
    display: none;
    padding-top: 5em;
    padding-bottom: 5em;
    margin: 1.7em;
    justify-content: center;
}

.carousel-list {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    scroll-snap-type: x mandatory;
}

#card-container {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    border-radius: .9em;
    color: #4B4B4B;
    width: 25em;
    height: 30em;
}

#class-icon {
    width: 8em;
}

.shiny {
    background-image: -webkit-linear-gradient(left, #ced9ed 25%, #cfc7fa 37.5%, #e2c6ee, #efc8dd 62.5%, #d7e9db 75%);
    background-image: linear-gradient(90deg, #d7e9db 25%, #cfc7fa 37.5%, #e2c6ee, #efc8dd 62.5%, #d7e9db 75%);
    background-position: right center;
    background-size: 400% auto;
    color: #8D8D8D
  }